.viewer-container iframe {
  margin: 0 auto;
  border: 0;
}

.viewer-category {
  display: inline-block;
  padding: 8px 19px 6px 19px;
  text-transform: uppercase;
  border-radius: 18px;
  font-size: 0.78em;
  margin-top: 0.5em;
  color: white;
}
.viewer-container {
  padding: 13px 0 0 0;
  background-color: #b3b3b3;
}
.no-handlers {
  padding: 0.8em 2.4em 1.8em 2.4em;
  font-weight: bold;
}
.viewer-description {
  padding: 3em 6em;
  border-bottom: 1px solid #EEE;
  margin-bottom: 15px;
}

.viewer-description .download-container {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2.5em;
}
.viewer-description .download-link {
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 24px
}
.viewer-description .download-link:hover {
  color: white;
}

.viewer-user {
  padding: 3em 6em;
  border-bottom: 1px solid #DDD;
  margin-bottom: 0;
  display: flex;
}

.viewer-user img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.viewer-user .user-content {
  display: block;
}

.viewer-user .links-container {
  margin-top: 20px;
}
.viewer-user .user-link {
  margin-left: 20px;
}


.viewer-history {
  background: #F7F7F7;
  padding: 15px 0;
}
.viewer-history h3 {
  padding: 1em 0 0 3.8em;
  margin: 0;
}

.viewer-history .list-history {
  padding: 3em 6em;
  list-style: none;
}
.viewer-history .list-history li {
  list-style: none;
  display: flex;
}

.list-history .history-user {
  width: 20%;
}
.list-history .history-user img {
  border-radius: 50%;
  max-width: 110px;
}
.list-history .history-description {
  width: 80%;
  padding-left: 10px;
}

.list-history .history-description a {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
