---
layout: default
---

<div class="container">
  <div id="templatemo_services" class="section1">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="secHeader">
            <h1 class="text-center">Kit de l'Innovation Métier</h1>
            <p class="text-center"><small>Afin de permettre aux agents publics de disposer de ressources pour les accompagner sur le chemin de l'innovation, l’idée a germé de partager, mettre en commun des connaissances, des outils, et/ou des ressources issues des administrations. Cette idée initiale s'est progressivement cristallisée sous la forme d'un Kit de l'innovation métier de l'État. L’objectif est de partager trois types de connaissances pertinentes pour des innovateurs publics. </small>
              <form class="homesearch" method="GET" action="/search.html">
                <input type="text" name="search" class="form-control" id="search-engine" placeholder="Tapez un mot-clef ici: hackathon ...">
                <button class="btn btn-primary">Rechercher</button>
              </form>
            </p>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div class="blok text-center">
                <div class="hexagon-a">
                  <a class="hlinktop" href="#">
                    <div class="hexa-a">
                      <div class="hcontainer-a">
                        <div class="vertical-align-a">
                          <span class="texts-a"> <div class="imgWrp"><a href="methodes.html"><img class="img-responsive" alt="Méthodes" src="images/pictos/methodes2.png"></a></div></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="hexagon">
                  <a class="hlinkbott" href="">
                    <div class="hexa">
                      <div class="hcontainer">
                        <div class="vertical-align">
                          <span class="texts"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <h4><strong>Méthodes</strong></h4>
                <p><small>Des documents qui décrivent des manières de faire et des méthodes.</small></p>
                <a class="btn btn-primary" href="methodes.html">En savoir plus</a>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div class="blok text-center">
                <div class="hexagon-a">
                  <a class="hlinktop" href="#">
                    <div class="hexa-a">
                      <div class="hcontainer-a">
                        <div class="vertical-align-a">
                          <span class="texts-a"><div class="imgWrp"><a href="modeles.html"><img class="img-responsive" alt="Modèles" src="images/pictos/modeles.png"></a></div></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="hexagon">
                  <a class="hlinkbott" href="#">
                    <div class="hexa">
                      <div class="hcontainer">
                        <div class="vertical-align">
                          <span class="texts"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <h4><strong>Modèles de document</strong></h4>
                <p><small>Des supports à remplir appelés en anglais "Templates""</small></p>
                <a class="btn btn-primary" href="modeles.html">En savoir plus</a>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div class="blok text-center">

                <div class="hexagon-a">
                  <a class="hlinktop" href="">
                    <div class="hexa-a">
                      <div class="hcontainer-a">
                        <div class="vertical-align-a">
                          <span class="texts-a"><div class="imgWrp"><a href="casdusages.html"><img class="img-responsive" alt="Cas d'Usages'" src="images/pictos/casdusages.png"></a></div></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="hexagon">
                  <a class="hlinkbott" href="casdusages.html">
                    <div class="hexa">
                      <div class="hcontainer">
                        <div class="vertical-align">
                          <span class="texts"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <h4><strong>Cas d'Usages</strong></h4>
                <p><small>Des exemples concrets commentés et réflexifs.</small></p>
                <a class="btn btn-primary" href="casdusages.html">En savoir plus</a>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
              <div class="blok text-center">

                <div class="hexagon-a">
                  <a class="hlinktop" href="">
                    <div class="hexa-a">
                      <div class="hcontainer-a">
                        <div class="vertical-align-a">
                          <span class="texts-a"><div class="imgWrp"><a href="lieux.html"><img class="img-responsive" alt="Lieux" src="images/pictos/lieux.png"></a></div></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="hexagon">
                  <a class="hlinkbott" href="lieux.html">
                    <div class="hexa">
                      <div class="hcontainer">
                        <div class="vertical-align">
                          <span class="texts"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <h4> <strong>Lieux d'Innovation </strong> </h4>
                <p><small>Tiers lieux, espaces créatifs bienveillants et ouverts.</small></p>
                <a class="btn btn-primary" href="lieux.html">En savoir plus</a>
              </div>
            </div>

		      </div>
        </div>
      </div>
    </div>
  </div> <!-- e/o section1 -->

  <div id="templatemo_portfolio" class="section2 homepage-ressources">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="secHeader">
            <h1 class="text-center">Ressources</h1>
            <p class="text-center"><small>Ces connaissances sont classées de différentes façons afin de permettre aux innovateurs de trouver l'information qu'ils souhaitent le plus rapidement possible. Le kit de l'innovation métier est proposé sous format libre, que ce soit les contenus du Kit mais également le support digital disponible sur Github, qui peut donc être réutilisé librement. Les contenus sont fournis par l'ensemble des innovateurs publics qui partagent leurs ressources de cette façon.'</small></p>
          </div>
          {% include widgets/ressources.html max="8" filter="all" %}
        </div>
      </div>
    </div>
  </div> <!-- e/o section2 -->

  <div id="templatemo_about" class="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="secHeader">
            <h1 class="text-center">Paroles d'Innovateurs</h1>
            <p class="text-center"><small>Focus sur les porteurs de projets innovants dans les administrations et ailleurs...</small></p>
          </div>

          <div class="teamInfo">
            <ul>
              <li>
                <a href="/parole-francois.html">
                  <div class="teamBox">
                    <div class="imgWrp"><img class="img-responsive" alt="François B." src="images/team/m1.png"></div>
                    <div class="tInfo">
                      <h4 class="text-center">François B</h4>
                      <h6 class="text-center">DGGN</h6>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <div class="teamBox">
                  <div class="imgWrp"><img class="img-responsive" alt="Johanna H." src="images/team/m2.png"></div>
                  <div class="tInfo">
                    <h4 class="text-center">Johanna H.</h4>
                    <h6 class="text-center">Ville de Nantes</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="teamBox">
                  <div class="imgWrp"><img class="img-responsive" alt="Pierre F." src="images/team/m3.png"></div>
                  <div class="tInfo">
                    <h4 class="text-center">Pierre F.</h4>
                    <h6 class="text-center">BSPP</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="teamBox">
                  <div class="imgWrp"><img class="img-responsive" alt="Myriam D." src="images/team/m4.png"></div>
                  <div class="tInfo">
                    <h4 class="text-center">Myriam D.</h4>
                    <h6 class="text-center">DGA</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="teamBox">
                  <div class="imgWrp"><img class="img-responsive" alt="Hélène O." src="images/team/m5.png"></div>
                  <div class="tInfo">
                    <h4 class="text-center">Hélène O.</h4>
                    <h6 class="text-center">Ministère des Finances</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="infoTxt">
            <p class="text-center"><small>Le Kit de l'innovation métier est à la recherche de projets innovants menés dans le contexte de leurs métiers par les agents des administrations, notamment ceux dont l'impact est interdirectionnel et le potentiel de mutualisation entre services et territoires est fort. N'hésitez pas à <a href="mailto:info@kitinnov.fr">nous contacter</a> pour nous informer de projets ou d'innovateurs remarquables</small></p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="socials sbot">
                <ul>
                  <li><a href="#"><i class="fa fa-twitter soc"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook soc"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss soc"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble soc"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram soc"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- e/o section3 -->

  <div id="templatemo_contact" class="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="secHeader">
            <h1 class="text-center">Cartographie de l'Innovation</h1>
            <p class="text-center"><small>Pellentesque aliquam in risus eu ultrices. Suspendisse id interdum nibh. Etiam vel mattis augue, a vestibulum arcu. Nam rutrum diam dolor, eu vehicula nisl tincidunt non. Fusce tincidunt id justo eu tempor. Phasellus sit amet ante lobortis, mattis sapien id, dictum ipsum. <br/><small><a href="/map.html">Voir la carte en grand format</a></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="templatemo_maps">
            <div class="fluid-wrapper">
              {% include widgets/map.html height="400px" %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- eo section 5 -->
<!--
<div class="section6">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="secHeader">
          <h1 class="text-center">Partenaires</h1>
          <p class="text-center"><small>Projets connexes dans la sphère des collectivités publiques.</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="partnerWrap">
    <div class="slideshow"
      data-cycle-fx=carousel
      data-cycle-timeout=0
      data-cycle-carousel-visible=4
      data-cycle-next="#next"
      data-cycle-prev="#prev"
      data-cycle-carousel-fluid=true
    >
      <img alt="partner 1" src="images/partners/partner1.jpg">
      <img alt="partner 2" src="images/partners/partner2.jpg">
      <img alt="partner 3" src="images/partners/partner3.jpg">
      <img alt="partner 4" src="images/partners/partner4.jpg">
      <img alt="partner 5" src="images/partners/partner5.jpg">
      <img alt="partner 6" src="images/partners/partner6.jpg">
      <img alt="partner 7" src="images/partners/partner7.jpg">
      <img alt="partner 8" src="images/partners/partner8.jpg">
    </div>
    <a href="#" id="prev">&lt;&lt; Prev </a>
    <a href="#" id="next"> Next &gt;&gt; </a>
  </div>
</div>
-->
<!-- eo section 6 -->
