---
title: Modèles
permalink: modeles.html
layout: default
---

<h3><strong>Modèles</strong></h3>

{% assign modeles_files = site.static_files | where: "modeles", true %}
{% for mymodeles in modeles_files %}
{% if mymodeles.extname contains 'jpg' or mymodeles.extname contains 'JPG' or mymodeles.extname contains 'Jpg' or mymodeles.extname contains 'png' or mymodeles.extname contains 'PNG' or mymodeles.extname contains 'Png' or mymodeles.extname contains 'pdf' or mymodeles.extname contains 'PDF' or mymodeles.extname contains 'Pdf' or mymodeles.extname contains 'odp' or mymodeles.extname contains 'ODP' or mymodeles.extname contains 'Odp' or mymodeles.extname contains 'odt' or mymodeles.extname contains 'ODT' or mymodeles.extname contains 'Odt' or mymodeles.extname contains 'ods' or mymodeles.extname contains 'ODS' or mymodeles.extname contains 'Ods' or mymodeles.extname contains 'doc' or mymodeles.extname contains 'DOC' or mymodeles.extname contains 'Doc' or mymodeles.extname contains 'ppt' or mymodeles.extname contains 'PPT' or mymodeles.extname contains 'Ppt' or mymodeles.extname contains 'xls' or mymodeles.extname contains 'XLS' or mymodeles.extname contains 'Xls' %}
{{mymodeles.basename}} : <a href ="{{ mymodeles.path }}" >{{ mymodeles.path }}</a> <br>
{% endif %}
{% endfor %}

