<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/jquery.cycle2.min.js"></script>
<script src="js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="js/vendor/jquery.nivo.slider.pack.js"></script>
<script src="js/vendor/jquery.cookie.js"></script>
<script src="js/vendor/stickUp.min.js"></script>
<script src="js/vendor/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="js/vendor/github.bundle.min.js"></script>
<script src="js/vendor/lodash.min.js"></script>

<!-- Load react and node dependencies -->
<script type="text/javascript" src="/assets/javascript/bundle.js" charset="utf-8"></script>
