<footer class="footer" id="foo">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info1">
          <h4>GITHUB</h4>
          <div class="addr">
            <p>L'intégralité du code du Kit de l'innovation métier est disponible sous <a href="https://github.com/InnovMetierEtat/innovmetieretat.github.io">Github</a> pour téléchargement sous licence libre.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info2">
          .
        </div>
      </div>
      <div id="infolettre" class="col-md-4">
        <div class="info3">
          <h4>INFOLETTRE</h4>
          <p>Abonnez vous à notre Infolettre pour recevoir de nos nouvelles par email.</p>

          <form role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="email_newsletter" placeholder="Votre Email">
            </div>
            <div><button type="button" class="btn btn-primary">Send</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="back-top" class="gotop text-center">
  <a href="">Revenir en haut de la page</a>
</div>
<div class="bfWrap text-center">
  <div class="templatemo_footer">Copyleft <span class="copyleft">&copy;</span> 2018 Kit de l'Innovation Métier</div>
</div>
