<footer class="footer" id="foo">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info1">
          <h4>GITHUB</h4>
          <div class="addr">
            <p>L'intégralité du code du Kit de l'innovation métier est disponible sous <a href="https://github.com/InnovMetierEtat/innovmetieretat.github.io">Github</a> pour téléchargement sous licence libre.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info2">
          .
        </div>
      </div>
      <div id="infolettre" class="col-md-4">
        <div class="info3">
          <h4>INFOLETTRE</h4>
          <p>Abonnez vous à notre Infolettre pour recevoir de nos nouvelles par email.</p>

          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
	         #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	         /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
           #mc_embed_signup form {
             font-family: 'Raleway', "Trebuchet MS", Arial, Helvetica, sans-serif;
             text-align: left;
             padding: 10px 0 10px 0;
           }
           #mc_embed_signup input.email {
             font-size: 14px;
           }
           #mc_embed_signup .button {
             background: #00ACE9;
           }
          </style>
          <div id="mc_embed_signup" style="">
            <form action="https://twitter.us17.list-manage.com/subscribe/post?u=1acbe98c7c1c743fe17a29135&amp;id=3b3a3725bf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
	              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_af76a22cb3d836b2c5a81371f_d4739a54fc" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="back-top" class="gotop text-center">
  <a href="">Revenir en haut de la page</a>
</div>
<div class="bfWrap text-center">
  <div class="templatemo_footer">Copyleft <span class="copyleft">&copy;</span> 2018 Kit de l'Innovation Métier</div>
</div>
