<header>
  <div id="templatemo_top" class="mainTop">
    <div class="container">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-6">
          <div class="mailme">
            <a href="mailto:info@kitinno.fr"><i class="fa fa-envelope"></i>contact</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="socials">
            <ul>
            	<li><a href="/#infolettre" class="btn btn-primary">INFOLETTRE</a></li>
              <li><a href="#"><i class="fa fa-twitter soc"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook soc"></i></a></li>
              <li><a href="#"><i class="fa fa-rss soc"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble soc"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram soc"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- e/o mainTop -->
</header>

<div class="mWrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="logo">
          <a href="contribuer.html"><img src="images/logo.png" alt="Kit de l'Innovation Métier"></a>
        </div>
      </div>
      <div class="col-sm-8 col-md-8">
        <nav class="mainMenu">
          <ul class="nav">
            <li><a href="/#templatemo_top">Accueil</a></li>
            <li><a href="/#templatemo_services">Kit</a></li>
            <li><a href="/#templatemo_portfolio">Ressources</a></li>
            <li><a href="/#templatemo_about">Innovateurs</a></li>
            <li><a href="/#templatemo_contact">Cartographie</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

