<!-- 
     Thanks to Powerful Template ! modified by 4p13 
     http://www.templatemo.com/tm-390-powerful
   -->
<!DOCTYPE html>
<html>
  <head>
    <title>Kit de l'Innovation Métier</title>
    <meta name="keywords" content="" />
  	<meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/templatemo_style.css" rel="stylesheet">

    <link href="css/circle.css" rel="stylesheet">
    <link href="css/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/nivo-slider.css">
    <link href="css/apie-viewer.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
    <script src="js/vendor/modernizr.custom.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include menu.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- JS -->
    {% include dependencies.html %}
    {% include view_scripts.html %}

  </body>
</html>
